<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  {% block head %} {% endblock %}
</head>
<body>
  <div class="navbar">
      <a href="{{ url_for('index') }}"> Home </a>
      <div class="dropdown">
        <button class="dropbtn">About</button>
        <div class="dropdown-content">
            <a onclick="show_me()"> Me </a>
            <a onclick="show_read_me()"> This Website</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href="{{ url_for('soundboard') }}">Sound Board</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
      </div>
  </div>
  {% block body %} {% endblock %}
</body>
</html>