<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  {% block head %} {% endblock %}
</head>
<body>
  <div class="navbar">
      <a href="{{ url_for('index') }}"> Home </a>
      <div class="dropdown">
        <button class="dropbtn">About</button>
        <div class="dropdown-content">
            <a href="{{ url_for('blog') }}">Me</a>
            <a href="{{ url_for('blog') }}">This Website</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Latest</button>
        <div class="dropdown-content">
            <a href="{{ url_for('soundboard') }}">Sound Board</a>
            <a href="{{ url_for('lipsmack') }}">Lip Smack</a>
            <a href="{{ url_for('myage') }}">My Age</a>
        </div>
      </div>
  </div>
  {% block body %} {% endblock %}
</body>
</html>