 <!DOCTYPE html>
<html>
<head>
<title>The Zone</title>
<script>
    function PlaySound(sound) {
        
        var path = '..\\rsc\\soundboard\\'
        var snd = new Audio(path + sound + '.mp3');
        snd.play();
    }
</script>
</head>
<body>
	<button onclick="PlaySound('heyoo')"> Heyo </button>
	<button onclick="PlaySound('hello_hello')"> Hello Hello</button>
	<button onclick="PlaySound('hey_man')"> Hey Man</button>
	<button onclick="PlaySound('what_i_do')"> What I Do</button>

</body>
</html> 