 <!DOCTYPE html>
<html>
<head>
<title>The Zone</title>
<script>
    function PlaySound(sound) {
        
        var path = '..\\static\\soundboard\\'
        var snd = new Audio(path + sound + '.mp3');
        snd.play();
    }
</script>
</head>
<body>
	<button onclick="PlaySound('heyoo')"> Heyo </button>
	<button onclick="PlaySound('hello_hello')"> Hello Hello</button>
	<button onclick="PlaySound('hey_man')"> Hey Man</button>
	<button onclick="PlaySound('what_i_do')"> What I Do</button>
	<button onclick="PlaySound('lip_smack')"> Lip Smack</button>
	<button onclick="PlaySound('exsqueeze_me')"> Exsqueeze Me</button>
	<button onclick="PlaySound('free_eats')"> Free Eats</button>
	<button onclick="PlaySound('im_on_a_diet')"> Im on a diet</button>
	<button onclick="PlaySound('it_pays_for_itself')"> It Pays For Itself</button>
	<button onclick="PlaySound('scream')"> Scream</button>

</body>
</html> 